<section data-w-id="c0b14d40-62c5-e4a6-6b0a-3f7d85a34ae6" class="section">
    <div class="container">
        <div class="w-layout-grid grid">
            <h2 data-split="lines-scroll" id="w-node-c0b14d40-62c5-e4a6-6b0a-3f7d85a34aeb-52b3af3b" class="text-xl">Here is an extensive list of all the amazing clients I have worked for and alongside over the past years in the business. </h2>
        </div>
        <div class="clients-outer-wrapper">
            <div class="w-layout-grid grid">
                <div data-split="letters-scroll" id="w-node-c0b14d40-62c5-e4a6-6b0a-3f7d85a34af2-52b3af3b" class="display-xl">clients</div>
                <div id="w-node-c0b14d40-62c5-e4a6-6b0a-3f7d85a34af4-52b3af3b" class="clients-wrapper">
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">AVIS</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">PEPSI</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p>
                            <strong data-split="lines-scroll">Macmillian</strong>
                        </p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Kerry</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Kidzania</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Madame Tussauds</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Walmart</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Times Now</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                    <div class="client-wrapper">
                        <p data-split="lines-scroll">Sightsavers</p>
                        <div data-animate="lines" class="line-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>