<section id="contact" class="image-marquee-section">
    <div data-animate="clip-path" data-w-id="e022b232-cc1b-f599-133d-283fbbe94fb2" class="image-marquee-wrapper">
        <img src="https://cdn.prod.website-files.com/6842c92ae91d6b1252b3af5b/68545a8e2f6fc3180880ecda_Background-min.avif" loading="lazy" alt="" class="background-image"/>
        <div data-w-id="1d537028-077d-a07c-4494-8736f10f269e" class="text-marquee-wrapper">
            <div class="text-marquee">
                <p data-split="cta-scroll" class="marquee-text">Contact</p>
            </div>
            <div class="text-marquee">
                <p class="marquee-text">Contact</p>
            </div>
        </div>
        <img src="" loading="lazy" alt="" class="foreground-image"/>
        <div class="image-marquee-bottom-overlay"></div>
    </div>
</section>