<footer data-w-id="14ba2e06-c9b5-3636-e5fb-9064a5baa882" class="footer">
    <div class="container footer-container">
        <div class="w-layout-grid grid footer-grid">
            <div id="w-node-c38acb93-1a5f-dc7f-c5d0-36619fe0ab49-a5baa882" class="footer-menu-wrapper">
                <div class="line-top"></div>
                <div class="footer-menu">
                    <div data-animate="stagger-children" id="w-node-c38acb93-1a5f-dc7f-c5d0-36619fe0ab4c-a5baa882" class="footer-menu-column">
                        <a data-w-id="c38acb93-1a5f-dc7f-c5d0-36619fe0ab4d" href="#services" class="footer-link-wrap w-inline-block">
                            <div class="nav-link-text-wrap">
                                <div class="nav-link-text">Services</div>
                            </div>
                        </a>
                        <a data-w-id="c38acb93-1a5f-dc7f-c5d0-36619fe0ab51" href="#work" class="footer-link-wrap w-inline-block">
                            <div class="nav-link-text-wrap">
                                <div class="nav-link-text">Work</div>
                            </div>
                        </a>
                        <a data-w-id="c38acb93-1a5f-dc7f-c5d0-36619fe0ab55" href="#contact" class="footer-link-wrap w-inline-block">
                            <div class="nav-link-text-wrap">
                                <div class="nav-link-text">Contact</div>
                            </div>
                        </a>
                    </div>
                    <div data-animate="stagger-children" id="w-node-c38acb93-1a5f-dc7f-c5d0-36619fe0ab59-a5baa882" class="footer-menu-column">
                        <!-- Removed Instagram, LinkedIn, and Dribbble links -->
                    </div>
                    <div id="w-node-c38acb93-1a5f-dc7f-c5d0-36619fe0ab66-a5baa882" class="text-xs">Rakesh Negi</div>
                </div>
            </div>
            <div id="w-node-_28e021bd-d5d6-9604-58f9-66e69127ed32-a5baa882" class="footer-image-and-links-wrap">
                <div data-w-id="96dc0cc0-ba67-5155-2e64-4c80753c75ec" class="image-wrap">
                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758098166/rak3_wo3ro9.jpg" loading="lazy" alt="Footer abstract image" class="parallax-image"/>
                </div>
                <div class="footer-contact-links-wrapper">
                    <a data-w-id="078c67da-d2ea-d702-30f5-f622c07fab95" href="mailto:contact@rakeshnegi.dev" class="footer-contact-link-wrap w-inline-block">
                        <div class="nav-link-text-wrap">
                            <div data-split="lines-scroll" class="nav-link-text">rakeshnegi83@gmail.com</div>
                        </div>
                    </a>
                    <a data-w-id="33882149-b4f1-d668-0379-a32605f493a4" href="tel:+1234567890" class="footer-contact-link-wrap w-inline-block">
                        <div class="nav-link-text-wrap">
                            <div data-split="lines-scroll" class="nav-link-text">+91 9910053526</div>
                        </div>
                    </a>
                </div>
            </div>
            <p data-split="letters-scroll" id="w-node-_8d42d426-0261-af32-c138-0820cb9c51b8-a5baa882" class="footer-heading">THANK YOU</p>
            <div data-animate="stagger-children" id="w-node-_0a1872df-4dea-1c5a-9e71-595b1fff931c-a5baa882" class="footer-bottom-primary-links">
            </div>
        </div>
    </div>
</footer>