<section class="section home-hero-section">
    <div data-animation="default" data-collapse="none" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
        <div class="container">
            <div class="w-layout-grid grid navbar-grid">
                <a load-animation="" data-animate="fade-load" id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c09-69503c06" href="/" aria-current="page" class="nav-logo-wrap w-nav-brand w--current">
                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758099706/raklogo_r2xr0i.png" loading="lazy" alt="Rakesh Negi Logo" class="logo"/>
                </a>
                <div id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c0b-69503c06" class="nav-menu-wrapper">
                    <div load-animation="" data-animate="lines-load" class="line-top menu-divider"></div>
                    <div class="nav-menu">
                        <div load-animation="" data-animate="stagger-children-load" id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c0e-69503c06" class="nav-menu-column">
                            <a data-w-id="a6a17966-50bd-e57e-4d67-c4ef69503c0f" href="#services" class="nav-link-wrap w-inline-block">
                                <div class="nav-link-text-wrap">
                                    <div class="nav-link-text">Services</div>
                                </div>
                            </a>
                            <a data-w-id="a6a17966-50bd-e57e-4d67-c4ef69503c13" href="#work" class="nav-link-wrap w-inline-block">
                                <div class="nav-link-text-wrap">
                                    <div class="nav-link-text">Work</div>
                                </div>
                            </a>
                            <a data-w-id="a6a17966-50bd-e57e-4d67-c4ef69503c17" href="#contact" class="nav-link-wrap w-inline-block">
                                <div class="nav-link-text-wrap">
                                    <div class="nav-link-text">Contact</div>
                                </div>
                            </a>
                        </div>
                        <div load-animation="" data-animate="stagger-children-load" id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c1b-69503c06" class="nav-menu-column social-links">
                            <!-- Removed Instagram, LinkedIn, and Dribbble links -->
                        </div>
                        <div id="w-node-c08e08f9-3f6e-2b26-2493-aeb955b754b3-69503c06">
                            <!-- Removed copyright text ©25 -->
                        </div>
                    </div>
                </div>
                <div id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c2a-69503c06" data-w-id="a6a17966-50bd-e57e-4d67-c4ef69503c2a" class="menu-button">
                    <div class="menu-line top-line"></div>
                    <div class="menu-line bottom-line"></div>
                </div>
                <p load-animation="" data-split="lines-load" id="w-node-a6a17966-50bd-e57e-4d67-c4ef69503c2d-69503c06" class="text-2xl navbar-text">Branding and design expert with 15+ years creating impactful identities, campaigns, and visual solutions across print, digital, video.</p>
                <div id="w-node-_244746fd-95f9-af2f-0e6a-b2833098d116-69503c06">
                    <div load-animation="" data-animate="fade-load" class="navbar-copyright">About Me</div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-bottom">
        <div class="container">
            <div class="w-layout-grid grid">
                <div load-animation="" data-animate="clip-path-load" id="w-node-f6f8f756-c0d0-0276-5b68-7ff69c07e013-52b3af3b" data-w-id="f6f8f756-c0d0-0276-5b68-7ff69c07e013" class="image-wrap">
                    <img src="" loading="eager" data-animate="image-scale" load-animation="" alt="Abstract digital art" class="parallax-image"/>
                </div>
                <div id="w-node-_9b80f840-e019-4f2f-c913-f6d337a9346c-52b3af3b" class="hero-bottom-content-wrapper">
                    <div load-animation="" data-animate="lines-load" class="line-top"></div>
                    <h1 load-animation="" data-split="letters-load" class="hero-heading">RAKESH NEGI</h1>
                </div>
            </div>
        </div>
    </div>
</section>