<section id="services" data-w-id="05dde3c1-35bd-0a64-9730-7326407f2fbe" class="section services-section">
    <div class="container services-container">
        <div class="w-layout-grid grid no-row-gap">
            <div data-animate="clip-path" id="w-node-_97651966-5c95-6dda-50da-c0e418b455da-52b3af3b" data-w-id="97651966-5c95-6dda-50da-c0e418b455da" class="portrait-image-wrap">
                <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758098166/rak3_wo3ro9.jpg" loading="lazy" alt="Portrait of Rakesh Negi" class="parallax-image"/>
            </div>
            <p data-split="heading-scroll" id="w-node-_1daa1512-45c3-5d04-3624-a6f1ca6ca53c-52b3af3b" class="display-xl">I am a graphic designer, UI/UX designer and video editor.</p>
            <div id="w-node-c46885eb-1bae-a65d-24ca-22428c6691cd-52b3af3b" class="eyebrow-and-text-wrapper">
                <div data-split="lines-scroll" class="eyebrow">Services</div>
                <p data-split="lines-scroll" class="text-xl">I craft purposeful designs with clarity, balanced simplicity, collaborative insight, and confident creativity.</p>
            </div>
        </div>
        <div class="w-layout-grid grid no-row-gap">
            <p data-split="lines-scroll" id="w-node-f30b0d89-0e17-d332-a03f-73941cf8fb57-52b3af3b">I work with the creative field and provide a range of services across platforms and industries.</p>
            <div id="w-node-_221b9c61-8f1b-3ff5-b523-820eee907042-52b3af3b" class="services-list">
                <div data-w-id="9373fc9e-86b0-a665-c292-21adac437b5b" class="service-item first-item">
                    <div class="service-item-header">
                        <p data-split="letters-scroll" class="display-xl">Branding</p>
                        <img src="https://cdn.prod.website-files.com/6842c92ae91d6b1252b3af5b/68505fac3fe637a333252082_icon.svg" loading="lazy" alt="" class="service-item-icon"/>
                    </div>
                    <div data-animate="lines" class="line-bottom"></div>
                    <div style="height:0px" class="service-item-body">
                        <div style="opacity:0;-webkit-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid service-item-grid">
                            <p data-split="lines-scroll" id="w-node-_4eb95420-edb0-6beb-5d67-9c66b73721b3-52b3af3b" class="text-xs">Branding</p>
                            <div id="w-node-_220c22ad-7c62-8f50-d0de-cf1bbb580969-52b3af3b" class="service-item-body-text-wrapper">
                                <p class="text-large service-item-text">I design brands with clarity and longevity, turning vision into scalable systems. Through strategy and creativity, I create identities that inspire connection and stand strong in a crowded market.</p>
                            </div>
                            <p data-split="lines-scroll" id="w-node-d659d347-803b-dce5-0d41-e54e112547ed-52b3af3b" class="text-xs text-grey">Deliverables</p>
                            <div id="w-node-bff72426-5c7d-63a9-2284-66724961a819-52b3af3b" class="deliverables-wrapper">
                                <p class="text-small">
                                    Visual identity<br/>
                                    Logo and wordmark<br/>
                                    Color palette and typography<br/>
                                    Brand guidelines<br/>Social media assets<br/>
                                    Brand messaging<br/>
                                    Packaging design
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="47cab7c7-26af-e28f-bf70-f9ffe13928e6" class="service-item">
                    <div class="service-item-header">
                        <p data-split="letters-scroll" class="display-xl">Digital & Print</p>
                        <img src="https://cdn.prod.website-files.com/6842c92ae91d6b1252b3af5b/68505fac3fe637a333252082_icon.svg" loading="lazy" alt="" class="service-item-icon"/>
                    </div>
                    <div data-animate="lines" class="line-bottom"></div>
                    <div style="height:0px" class="service-item-body">
                        <div style="opacity:0;-webkit-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid service-item-grid">
                            <p data-split="lines-scroll" id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928ee-52b3af3b" class="text-xs">Digtial & Print Design</p>
                            <div id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f0-52b3af3b" class="service-item-body-text-wrapper">
                                <p class="text-large service-item-text">I create digital and print designs that captivate, communicate, and connect. My approach blends creativity with strategy to deliver engaging visuals. From concept to final production, I ensure every piece—whether social media, ads, brochures, or packaging—reflects your brand and drives impact.</p>
                            </div>
                            <p data-split="lines-scroll" id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f3-52b3af3b" class="text-xs text-grey">Deliverables</p>
                            <div id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f5-52b3af3b" class="deliverables-wrapper">
                                <p class="text-small">
                                    Digital Ads & Marketing Creatives<br/>
                                    Presentations & Pitch Decks<br/>
                                    Emailers & Newsletters<br/>
                                    Flyers, Posters & Brochures<br/>
                                    Catalogs & Magazines<br/>
                                    Business Cards & Stationery<br/>
                                    Outdoor Advertising<br/>
                                    Event & Promotional Collateral<br/>
                                    Packaging Design<br/>
                                    Vido Editing<br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="a9518ed7-1c27-fc42-6636-4d5220f25846" class="service-item">
                    <div class="service-item-header">
                        <p data-split="letters-scroll" class="display-xl">UI/UX Design</p>
                        <img src="https://cdn.prod.website-files.com/6842c92ae91d6b1252b3af5b/68505fac3fe637a333252082_icon.svg" loading="lazy" alt="" class="service-item-icon"/>
                    </div>
                    <div data-animate="lines" class="line-bottom"></div>
                    <div style="height:0px" class="service-item-body">
                        <div style="opacity:0;-webkit-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid service-item-grid">
                            <p data-split="lines-scroll" id="w-node-a9518ed7-1c27-fc42-6636-4d5220f2584e-52b3af3b" class="text-xs">UI/UX</p>
                            <div id="w-node-a9518ed7-1c27-fc42-6636-4d5220f25850-52b3af3b" class="service-item-body-text-wrapper">
                                <p class="text-large service-item-text">I design intuitive UI/UX experiences, combining creative design with basic coding knowledge. Using AI tools, I integrate intelligent features to build functional, real-world websites that engage users and enhance digital experiences.</p>
                            </div>
                            <p data-split="lines-scroll" id="w-node-a9518ed7-1c27-fc42-6636-4d5220f25853-52b3af3b" class="text-xs text-grey">Deliverables</p>
                            <div id="w-node-a9518ed7-1c27-fc42-6636-4d5220f25855-52b3af3b" class="deliverables-wrapper">
                                <p class="text-small">
                                    UI/UX for websites and app<br/>
                                    Create wireframes, prototypes<br/>
                                    Figma Design<br/>
                                    User testing<br/>
                                    Vibe coding<br/>
                                    AI integration
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="47cab7c7-26af-e28f-bf70-f9ffe13928e6" class="service-item">
                    <div class="service-item-header">
                        <p data-split="letters-scroll" class="display-xl">Tools</p>
                        <img src="https://cdn.prod.website-files.com/6842c92ae91d6b1252b3af5b/68505fac3fe637a333252082_icon.svg" loading="lazy" alt="" class="service-item-icon"/>
                    </div>
                    <div data-animate="lines" class="line-bottom"></div>
                    <div style="height:0px" class="service-item-body">
                        <div style="opacity:0;-webkit-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid service-item-grid">
                            <p data-split="lines-scroll" id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928ee-52b3af3b" class="text-xs">Softwares</p>
                            <div id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f0-52b3af3b" class="service-item-body-text-wrapper">
                                <p class="text-large service-item-text">I use a mix of industry-standard tools to take ideas from concept to completion — from sketching initial concepts in Figma or Adobe XD, to refining visuals in Photoshop and Illustrator, and preparing final assets for print or digital platforms. These tools help me streamline the process, ensuring creativity and precision at every stage.</p>
                            </div>
                            <p data-split="lines-scroll" id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f3-52b3af3b" class="text-xs text-grey">Toolkit</p>
                            <div id="w-node-_47cab7c7-26af-e28f-bf70-f9ffe13928f5-52b3af3b" class="deliverables-wrapper">
                                <p class="text-small">
                                    Photoshop<br/>
                                    Illustrator<br/>
                                    Indesign<br/>
                                    Primer pro<br/>
                                    After effect<br/>
                                    Figma<br/>
                                    Visual Studio<br/>
                                    Ai tools<br/>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>