<section class="section">
    <div class="container">
        <div class="w-layout-grid grid">
            <h2 data-split="lines-scroll" id="w-node-_673ea8df-7666-81a1-37d8-ab47891e5779-52b3af3b" class="text-xl">With purpose at the core, I bring ideas to life, making each step intentional and impactful.</h2>
        </div>
        <div class="values-list">
            <div class="value-list-item">
                <div class="w-layout-grid grid">
                    <div data-split="letters-scroll" id="w-node-_65b77e2f-675a-2fd3-43f0-5f330f4bdd3e-52b3af3b" class="value-number">01</div>
                    <div data-split="letters-scroll" id="w-node-dcc061d3-dbdf-f591-6c64-04e7a9c44ae9-52b3af3b" class="display-large">Discover</div>
                    <div id="w-node-e7ead8aa-799c-3912-3120-4a9629fa04c0-52b3af3b" class="value-text-wrapper">
                        <div data-animate="lines" class="line-top"></div>
                        <p data-split="lines-scroll" class="value-text">Understanding the brand, audience, and goals through research and conversations. This sets the foundation for meaningful design.</p>
                    </div>
                </div>
            </div>
            <div class="value-list-item">
                <div class="w-layout-grid grid">
                    <div data-split="letters-scroll" id="w-node-e9b7deb2-2d8b-f86f-44cd-9e6ea8be65b3-52b3af3b" class="value-number">02</div>
                    <div data-split="letters-scroll" id="w-node-e9b7deb2-2d8b-f86f-44cd-9e6ea8be65b5-52b3af3b" class="display-large">Define</div>
                    <div id="w-node-e9b7deb2-2d8b-f86f-44cd-9e6ea8be65b7-52b3af3b" class="value-text-wrapper">
                        <div data-animate="lines" class="line-top"></div>
                        <p data-split="lines-scroll" class="value-text">Shaping insights into a clear direction,identifying the right style, tone, and creative strategy to guide the process.</p>
                    </div>
                </div>
            </div>
            <div class="value-list-item">
                <div class="w-layout-grid grid">
                    <div data-split="letters-scroll" id="w-node-_138829d8-6824-2c06-8812-743ab88fb3fa-52b3af3b" class="value-number">03</div>
                    <div data-split="letters-scroll" id="w-node-_138829d8-6824-2c06-8812-743ab88fb3fc-52b3af3b" class="display-large">Design</div>
                    <div id="w-node-_138829d8-6824-2c06-8812-743ab88fb3fe-52b3af3b" class="value-text-wrapper">
                        <div data-animate="lines" class="line-top"></div>
                        <p data-split="lines-scroll" class="value-text">Transforming ideas into visuals from sketches to refined concepts, ensuring creativity aligns with purpose.</p>
                    </div>
                </div>
            </div>
            <div class="value-list-item">
                <div class="w-layout-grid grid">
                    <div data-split="letters-scroll" id="w-node-d1d012da-0117-bafe-de64-ffd2ca9f35f0-52b3af3b" class="value-number">04</div>
                    <div data-split="letters-scroll" id="w-node-d1d012da-0117-bafe-de64-ffd2ca9f35f2-52b3af3b" class="display-large">Deliver</div>
                    <div id="w-node-d1d012da-0117-bafe-de64-ffd2ca9f35f4-52b3af3b" class="value-text-wrapper">
                        <div data-animate="lines" class="line-top"></div>
                        <p data-split="lines-scroll" class="value-text">Finalizing and presenting designs across print, digital, or social platforms, ensuring consistency and impact.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>