<section id="work" class="section cases-section">
    <div class="w-dyn-list">
        <div role="list" class="cases-collection-list w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">01</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Design</p>
                                        <p data-split="lines-scroll" class="case-text">I design with versatility in mind, crafting visuals that stand out on paper, on screen, and across every platform.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">Poster Design</p>
                                        </div>
                                       
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-a90aa182-00c6-caab-bd37-259043af18e1-52b3af3b" class="case-deliverable-text">Ad Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/003</p>
                                            <p data-split="lines-scroll" id="w-node-_063e58d7-9c55-4729-92a9-5daaece5d07a-52b3af3b" class="case-deliverable-text">Illustration</p>
                                        </div>
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041448/rita_wkes0i.jpg" loading="eager" alt="Robots project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862d1866c5f1eb6b95d3996_robots2.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041442/stero_nrd9ws.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041442/crocs_hvale5.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041454/bourvil_rzifcz.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041454/absolut_copy_rtdjns.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041449/3d-model_j3dmcq.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041446/cup_noddle_sn8fib.jpg" loading="lazy" alt="Robots project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-dyn-hide w-dyn-empty">
                                            <div>No items found.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">02</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Ad Campaign</p>
                                        <p data-split="lines-scroll" class="case-text">Ad campaigns that blend storytelling, design, and strategy for measurable results.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">Ad Campaigns</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-_0e6eb40b-69b0-53b5-127f-ba994f1888d0-52b3af3b" class="case-deliverable-text">Print Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/003</p>
                                            <p data-split="lines-scroll" id="w-node-a90aa182-00c6-caab-bd37-259043af18e1-52b3af3b" class="case-deliverable-text">Digital Design</p>
                                        </div>
                                       
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041454/midea1_bablbt.jpg" loading="eager" alt="Speckled project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862cff9781d6e3c3d1bd3e5_speckled%25205.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041455/joint_kymuyb.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041457/chang_qofg1o.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041447/goodmax_bw12o0.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041442/camel_a5s28h.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041441/condom1_lpebi3.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-dyn-hide w-dyn-empty">
                                            <div>No items found.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">03</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Branding</p>
                                        <p data-split="lines-scroll" class="case-text">Cohesive branding that covers everything: logos, stationery, and visual identity.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">Logo Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-_0e6eb40b-69b0-53b5-127f-ba994f1888d0-52b3af3b" class="case-deliverable-text">Stationary Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/003</p>
                                            <p data-split="lines-scroll" id="w-node-a90aa182-00c6-caab-bd37-259043af18e1-52b3af3b" class="case-deliverable-text">Publication & Magazine</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/004</p>
                                            <p data-split="lines-scroll" id="w-node-_063e58d7-9c55-4729-92a9-5daaece5d07a-52b3af3b" class="case-deliverable-text">Packaging Design</p>
                                        </div>
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041450/luxe_s7z9ci.jpg" loading="eager" alt="VR Vision project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862d640000a7be6bb3ee007_vrvision4.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041441/lap_zlnquk.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041451/invite_wqp65a.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041452/magzine_jof1mz.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041458/madame_mmxkm8.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                    <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758085665/pagro_ht2wxb.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                    </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041456/oreo_be6z6a.jpg" loading="lazy" alt="VR Vision project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-dyn-hide w-dyn-empty">
                                            <div>No items found.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">04</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Design Solutions</p>
                                        <p data-split="lines-scroll" class="case-text">Smart, visually striking solutions for ads and social campaigns.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">Social Media</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-_0e6eb40b-69b0-53b5-127f-ba994f1888d0-52b3af3b" class="case-deliverable-text">Exhibiton Stall Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/003</p>
                                            <p data-split="lines-scroll" id="w-node-a90aa182-00c6-caab-bd37-259043af18e1-52b3af3b" class="case-deliverable-text">Print Ads</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/004</p>
                                            <p data-split="lines-scroll" id="w-node-_063e58d7-9c55-4729-92a9-5daaece5d07a-52b3af3b" class="case-deliverable-text">Emailers</p>
                                        </div>
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041454/leaning_tf96xt.jpg" loading="eager" alt="Geometry project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862dab63e892015c2bd8fca_geometry1.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041453/macmillian_fncehf.jpg" loading="lazy" alt="Geometry project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041451/zangoora_m8z0vj.jpg" loading="lazy" alt="Geometry project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041448/sightsaver_tlflhz.jpg" loading="lazy" alt="Geometry project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041449/emailer_u55dy4.jpg" loading="lazy" alt="Geometry project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758041441/realstate_zqcgqc.jpg" loading="lazy" alt="Geometry project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-dyn-hide w-dyn-empty">
                                            <div>No items found.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">05</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Social Media</p>
                                        <p data-split="lines-scroll" class="case-text">I translate trends and audience insights into creative campaigns that spark engagement..</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">Social Media Posts</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-_0e6eb40b-69b0-53b5-127f-ba994f1888d0-52b3af3b" class="case-deliverable-text">Prints</p>
                                        </div>
                                        
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758087365/avis2_kd5pge.jpg" loading="eager" alt="Cyberpunk project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862dd743fbf7715e70dd4e1_cyberpunk2.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758087366/avispost_ceyf8e.jpg" loading="lazy" alt="Cyberpunk project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758087365/dvg_fdpdez.jpg" loading="lazy" alt="Cyberpunk project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758087365/kod1_icbkuv.jpg" loading="lazy" alt="Cyberpunk project image" class="parallax-image"/>
                                                </div>
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="listitem" class="w-dyn-item">
                <div data-w-id="1b0843b8-e6e3-f7d6-812f-d1f7fdbe7ffa" class="case-cover-wrapper">
                    <div class="container">
                        <div class="w-layout-grid grid">
                            <div id="w-node-_66dadb76-bbdd-51fc-1a47-d73e932ece7d-52b3af3b" class="case-left-content-wrapper">
                                <div class="case-sticky-content-wrapper">
                                    <p data-split="letters-scroll" class="display-xl">06</p>
                                    <div class="case-text-wrapper">
                                        <p data-split="lines-scroll" class="text-xs text-grey">Web</p>
                                        <p data-split="lines-scroll" class="case-text">My UI/UX process blends creativity with strategy, turning research into engaging digital products.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_225d3b50-e1ab-5dfe-82be-8c4569800c8c-52b3af3b" class="case-right-content-wrapper">
                                <div class="case-cover-image-wrapper">
                                    <div class="case-delivarables-wrapper">
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" id="w-node-ddfc4a96-7b7a-16c9-16fa-170168a90502-52b3af3b" class="case-deliverable-text">D/001</p>
                                            <p data-split="lines-scroll" id="w-node-_66da7a27-2537-7394-b775-77ffdfc60fca-52b3af3b" class="case-deliverable-text">UI/UX Design</p>
                                        </div>
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/002</p>
                                            <p data-split="lines-scroll" id="w-node-_0e6eb40b-69b0-53b5-127f-ba994f1888d0-52b3af3b" class="case-deliverable-text">Figma Design</p>
                                        </div>
                                    
                                        <div class="case-deliverable-wrapper">
                                            <div data-animate="lines" class="line-bottom"></div>
                                            <p data-split="lines-scroll" class="case-deliverable-text">D/003</p>
                                            <p data-split="lines-scroll" id="w-node-_063e58d7-9c55-4729-92a9-5daaece5d07a-52b3af3b" class="case-deliverable-text">Web Development</p>
                                        </div>
                                    </div>
                                    <div data-animate="clip-path" class="case-image-wrap">
                                        <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088272/indoasia_blbufo_mgsmvh.jpg" loading="eager" alt="Speckled project image" class="parallax-image"/>
                                    </div>
                                </div>
                                <div class="case-images-wrapper">
                                    <div class="w-dyn-list">
                                        <script type="text/x-wf-template" id="wf-template-4b2d2f2c-eeff-36b1-ac59-e42845688a64">
                                            %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Cdiv%20data-animate%3D%22clip-path%22%20data-w-id%3D%22c47356fc-e012-b735-26a6-fe884bfdb06a%22%20class%3D%22case-image-wrap%22%3E%3Cimg%20src%3D%22https%3A%2F%2Fcdn.prod.website-files.com%2F6842c92ae91d6b1252b3af63%2F6862cff9781d6e3c3d1bd3e5_speckled%25205.avif%22%20loading%3D%22lazy%22%20alt%3D%22%22%20class%3D%22parallax-image%22%2F%3E%3C%2Fdiv%3E%3C%2Fdiv%3E
                                        </script>
                                        <div role="list" class="case-images-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088271/vishnu_ctahxn_b7ld99.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088270/insuring-india_oyj8ec_n8r6fk.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088269/onemakerapp_kgmxqx_qixod6.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088268/avis_p9uezv_bfdcs1_r59hqx.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                                                <div data-animate="clip-path" data-w-id="c47356fc-e012-b735-26a6-fe884bfdb06a" class="case-image-wrap">
                                                    <img src="https://res.cloudinary.com/dhqtff4r5/image/upload/v1758088267/icore_cyktun_lpc9ew.jpg" loading="lazy" alt="Speckled project image" class="parallax-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-dyn-hide w-dyn-empty">
                                            <div>No items found.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>